<template>
  <h1>Consumption Tracker</h1>
  <p class="text-dark">
    App for tracking utilities consumption.
  </p>
  <p class="text-dark">
    Created by Marek Lints (marek.lints AT gmail.com)
  </p>
  <hr>
  <p>
    {{ `${new Date().getFullYear()}` }}
  </p>
</template>

<script>
export default {
  name: 'AboutView',
}
</script>
