<template>
  <div class="button-bar-container">
    <div v-if="gauges" class="button-bar">
      <div class="nav-button nav-button-previous" @click="back">&lt;</div>
      <div class="month-label">{{ reportingDateStr }}</div>
      <div class="nav-button nav-button-next" @click="forward">&gt;</div>
    </div>
  </div>
  <div
    v-if="
      reportingDateStr && gauges.length > 0 && selectedMeasurements.length > 0
    "
    class="measurement-input-container"
  >
    <CtMeasurementInput
      v-for="(measurement, index) in selectedMeasurements"
      :key="measurement.gauge.id"
      :recordingDate="reportingDateStr"
      v-model="selectedMeasurements[index]"
    />
  </div>
  <div class="op-button-container">
    <button
      @click="save"
      class="ct-button ct-text-light-2-strong ct-center-content"
    >
      Save
    </button>
  </div>
</template>

<script>
import { ref, computed } from 'vue'
import ReportingCalendar from '../util/ReportingCalendar'
import Util from '../util/Util'
import CtMeasurementInput from './CtMeasurementInput.vue'
import { useStore } from 'vuex'

export default {
  name: 'CtEdit',
  components: {
    CtMeasurementInput,
  },
  setup() {
    const store = useStore()
    const reportingDateStr = ref(ReportingCalendar.currentMonthReportingDate())
    const gauges = computed(() => store.state.gauges)
    const allMeasurements = computed(() => store.state.measurements)
    const selectedMeasurements = computed(() =>
      getMeasurementsForReportingDate(
        reportingDateStr.value,
        gauges.value,
        allMeasurements.value
      )
    )
    const back = () => {
      reportingDateStr.value = ReportingCalendar.previousReportingDate(
        reportingDateStr.value
      )
    }
    const forward = () => {
      reportingDateStr.value = ReportingCalendar.nextReportingDate(
        reportingDateStr.value
      )
    }
    const save = async () => {
      store.dispatch(
        'postConsumptionData',
        selectedMeasurements.value.filter((measurement) => measurement.value)
      )
    }
    return {
      reportingDateStr,
      gauges,
      allMeasurements,
      selectedMeasurements,
      back,
      forward,
      save,
    }
  },
}

function getMeasurementsForReportingDate(
  reportingDate,
  gauges,
  allMeasurements
) {
  return gauges.map((gauge) => {
    let measurement = Util.getMeasurement(reportingDate, gauge, allMeasurements)
    if (!measurement) {
      const previousMeasurement = Util.getPreviousMeasurementForRecordingDate(
        reportingDate,
        gauge,
        allMeasurements
      )
      measurement = {
        gaugeId: gauge.id,
        gauge,
        value: null,
        recordingDate: reportingDate,
        offset: previousMeasurement?.offset,
      }
    }
    return measurement
  })
}
</script>

<style scoped>
.button-bar-container {
  position: fixed;
  top: 65px;
  left: calc(400px - 141px);
  background: #ffffff;
  border-radius: 50%;
}
@media (max-width: 800px) {
  .button-bar-container {
    left: calc(50% - 141px);
  }
}
.button-bar {
  display: flex;
  font-size: 1.1em;
  color: var(--ct-color-light-2);
}
.month-label {
  color: var(--ct-color-dark);
  border: 1px solid var(--ct-color-dark);
  padding: 10px;
  width: 110px;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-button {
  background: #2b2d42;
  padding: 10px;
  width: 50px;
  height: 21px;
  border: 1px solid var(--ct-color-dark);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-button-previous {
  border-radius: 50% 0 0 50%;
}
.nav-button-next {
  border-radius: 0 50% 50% 0;
}
.op-button-container {
  background: #ffffff;
  bottom: 10px;
  left: 10px;
  width: 800px;
  position: fixed;
}
@media (max-width: 800px) {
  .op-button-container {
    width: calc(100% - 20px);
  }
}
.measurement-input-container {
  margin: 55px 0 0 0;
}
</style>