<template>
  <div v-if="error" class="error-box" @click="closeErrorBox">{{ error }}</div>
</template>

<script>
import { useStore } from 'vuex'
import { computed } from 'vue'

export default {
  name: 'CtError',
  setup() {
    const store = useStore()
    const error = computed(() => store.getters.error)
    const closeErrorBox = () => store.dispatch('clearError')

    return {
      error,
      closeErrorBox,
    }
  },
}
</script>

<style scoped>
.error-box {
  background: var(--ct-color-error);
  color: #ffffff;
  top: 0px;
  padding: 20px 10px 20px 10px;
  width: calc(100% - 20px);
  position: fixed;
  z-index: 30;
}
</style>
