<template>
  <div v-for="gauge in gauges" :key="gauge.id" class="ct-card">
    <div class="ct-card-header">
      {{ gauge.type }}
    </div>
    <div class="ct-card-row">
      <span class="ct-text-dark-strong">Name: </span>
      <span class="text-dark">{{ gauge.name }}</span>
    </div>
    <div class="ct-card-row">
      <span class="ct-text-dark-strong">Unit: </span>
      <span class="ct-text-dark" v-html="formatUnit(gauge.unit)" />
    </div>
    <div class="ct-card-row">
      <span class="ct-text-dark-strong">Active: </span>
      <span class="ct-text-dark">{{ gauge.active }}</span>
    </div>
  </div>
</template>

<script>
import Util from '../util/Util'
import { computed } from 'vue'
import { useStore } from 'vuex'

export default {
  setup() {
    const store = useStore()
    const gauges = computed(() => store.state.gauges)

    return {
      gauges,
      formatUnit: Util.formatUnit,
    }
  },
}
</script>
