<template>
  <header v-if="username">
    <div class="button-menu" @click="toggleNav">
      <div class="stripe"></div>
      <div class="stripe"></div>
      <div class="stripe"></div>
    </div>
    <div class="user">{{ username }}</div>
  </header>
  <nav :class="{ 'nav-open': navOpen }">
    <div class="nav-top-bar">
      <div>
        <button class="ct-button" @click="toggleNav">Close</button>
      </div>
    </div>
    <div class="nav-item" @click="navigateTo('home')">Add and edit</div>
    <div class="nav-item" @click="navigateTo('history')">History</div>
    <div class="nav-item" @click="navigateTo('gauges')">Gauges</div>
    <div class="nav-item" @click="navigateTo('about')">About</div>
    <div class="nav-log-out">
      <div>
        <button class="ct-button" @click="logout">Log out</button>
      </div>
    </div>
  </nav>
</template>

<script>
import { ref, computed } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'

export default {
  name: 'CtHeader',
  setup() {
    const store = useStore()
    const router = useRouter()
    const navOpen = ref(false)
    const toggleNav = () => (navOpen.value = !navOpen.value)
    const username = computed(() => store.getters.loginUsername)

    const logout = () => {
      store.dispatch('logout')
      toggleNav()
    }

    const navigateTo = (target) => {
      router.push({ name: target })
      toggleNav()
    }

    return {
      navOpen,
      toggleNav,
      username,
      logout,
      navigateTo,
    }
  },
}
</script>

<style scoped>
header {
  width: 100%;
  height: 35px;
  background: #8d99ae;
  color: #edf2f4;
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
}
.button-menu {
  width: 35px;
  height: 35px;
  border-radius: 4px;
  background: var(--ct-color-supplementary-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.stripe {
  width: 24px;
  height: 5px;
  margin: 2px 0 2px 0;
  background: #edf2f4;
  border-radius: 1px;
}
.user {
  color: #2b2d42;
  font-size: 1.3em;
  margin: 0 0 0 10px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 10;
  color: #edf2f4;
  background: var(--ct-color-supplementary-2);
  padding: 0;
  overflow: hidden;
}
.nav-open {
  width: 100%;
  padding: 10px 10px 0 10px;
  transition: 0.2s;
}
.nav-top-bar {
  display: flex;
  flex-direction: row-reverse;
  width: calc(100% - 20px);
  padding: 0 0 30px 0;
}
.nav-top-bar div {
  flex-basis: 100px;
}
.nav-item {
  border-bottom: 1px solid #edf2f4;
  width: calc(100% - 20px - 12px);
  padding: 6px;
  cursor: pointer;
}
.nav-item:hover {
  background: var(--ct-color-supplementary-1);
}
.nav-log-out {
  display: flex;
  flex-direction: row-reverse;
  padding: 30px 0 0 0;
  width: calc(100% - 20px);
}
.nav-log-out div {
  flex-basis: 100px;
}
</style>
