<template>
  <div v-if="periodStatsItem" class="ct-card">
    <div class="ct-card-header clickable-area" @click="toggleCard">
      {{ periodStatsItem.recordingDate }}
    </div>
    <div
      v-show="cardOpen"
      v-for="gaugeTypeStatsItem in periodStatsItem.gaugeTypeStatsItems"
      :key="gaugeTypeStatsItem.type"
      class="ct-card-row"
    >
      <h2 class="ct-text-dark-strong">{{ gaugeTypeStatsItem.type }}</h2>
      <div class="data-row">
        <div class="data-cell-left ct-text-dark-strong">Gauge</div>
        <div class="data-cell-right ct-text-dark-strong">Value</div>
        <div class="data-cell-right ct-text-dark-strong">Cons.</div>
      </div>
      <div
        v-for="measurementStatsItem in gaugeTypeStatsItem.measurementStatsItems"
        :key="measurementStatsItem.gaugeName"
        class="data-row"
      >
        <div class="data-cell-left ct-text-dark">
          {{ measurementStatsItem.gaugeName }}
        </div>
        <div class="data-cell-right ct-text-dark">
          <div>{{ round(measurementStatsItem.value) }}</div>
          <div v-html="formatUnit(gaugeTypeStatsItem.unit)" />
        </div>
        <div class="data-cell-right ct-text-dark">
          <div>{{ round(measurementStatsItem.consumption) }}</div>
          <div v-html="formatUnit(gaugeTypeStatsItem.unit)" />
        </div>
      </div>
      <hr />
      <div class="data-row">
        <div class="data-cell-left ct-text-dark">Total</div>
        <div class="data-cell-right ct-text-dark-strong">
          <div>{{ round(gaugeTypeStatsItem.consumption) }}</div>
          <div v-html="formatUnit(gaugeTypeStatsItem.unit)" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue'
import Util from '../util/Util'

export default {
  name: 'CtHistoryItem',
  props: {
    periodStatsItem: undefined,
  },
  setup() {
    const cardOpen = ref(false)
    const toggleCard = () => (cardOpen.value = !cardOpen.value)

    return {
      cardOpen,
      toggleCard,
      round: Util.round,
      formatUnit: Util.formatUnit,
    }
  },
}
</script>

<style scoped>
.clickable-area {
  cursor: pointer;
}
.data-row {
  display: flex;
}
.data-cell-left {
  flex: 1;
  justify-content: flex-start;
  align-items: flex-end;
  height: 1.2em;
}
.data-cell-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 1.2em;
}

.data-cell-right div {
  margin: 0 0 0 2px;
}
</style>
