<template>
  <CtHistoryItem
    v-for="periodStatsItem in stats.periodStatsItems"
    :key="periodStatsItem.recordingDate"
    :periodStatsItem="periodStatsItem"
  />
</template>

<script>
import CtHistoryItem from './CtHistoryItem.vue'
import { useStore } from 'vuex'
import { computed } from 'vue'

export default {
  components: {
    CtHistoryItem,
  },
  setup() {
    const store = useStore()
    const stats = computed(() => store.state.stats)

    return {
      stats,
    }
  },
}
</script>
