<template>
  <div class="login">
    <div>
      Username:
      <input
        type="text"
        class="ct-input"
        v-model="username"
        @keyup.enter="handleLogin"
      />
    </div>
    <div>
      Password:
      <input
        type="password"
        class="ct-input"
        v-model="password"
        @keyup.enter="handleLogin"
      />
    </div>
    <div class="login-button-row">
      <button class="ct-button" @click="handleLogin">Login</button>
    </div>
  </div>
</template>

<script>
import { useRouter } from 'vue-router'
import { ref, watch } from 'vue'
import { useStore } from 'vuex'

export default {
  name: 'CtLogin',
  setup() {
    const store = useStore()
    const router = useRouter()
    const username = ref('')
    const password = ref('')

    store.dispatch('logout')

    watch(
      () => store.getters.loginUsername,
      () => {
        if (store.getters.loginUsername) {
          router.push({ name: 'home' })
        }
      }
    )

    const handleLogin = async () => {
      if (
        username.value.trim().length < 1 ||
        password.value.trim().length < 1
      ) {
        store.dispatch('setError', 'Username and password are both needed!')
        return
      }
      const credentials = {
        username: username.value,
        password: password.value,
      }
      store.dispatch('logout')
      store.dispatch('login', credentials)
    }

    return {
      username,
      password,
      handleLogin,
    }
  },
}
</script>

<style scoped>
.login {
  width: 300px;
  margin: 0 auto;
}
.login div {
  padding: 10px;
}
.login-button-row {
  color: var(--ct-color-light-2);
}
.login-button-row div {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
