<template>
  <div v-if="message" class="message-box">
    {{ message }}
  </div>
</template>

<script>
import { useStore } from 'vuex'
import { computed } from 'vue'

export default {
  name: 'CtMessage',
  setup() {
    const store = useStore()
    const message = computed(() => store.state.message)
    return {
      message,
    }
  },
}
</script>

<style scoped>
.message-box {
  background: var(--ct-color-success);
  color: #ffffff;
  padding: 20px 10px 20px 10px;
  position: fixed;
  width: calc(100% - 20px);
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
</style>