<template>
  <div v-if="measurement" class="ct-card">
    <div class="ct-card-header">
      {{ measurement.gauge.type }}
    </div>
    <div class="ct-card-row">
      <span class="ct-text-dark-strong">Gauge: </span>
      <span class="text-dark">{{ measurement.gauge.name }}</span>
    </div>
    <div class="ct-card-row ct-text-dark">
      What's the current value at the gauge's display?
    </div>
    <div class="ct-card-row">
      <div class="input-container">
        <div
          class="label-left label-left-dark ct-text-dark ct-center-content"
        >
          Value
        </div>
        <input
          type="number"
          class="input-center input-center-dark ct-text-dark input-text-center"
          v-model="measurement.value"
        />
        <div
          class="label-right label-right-dark ct-text-dark ct-center-content"
          v-html="formatUnit(measurement.gauge.unit)"
        />
      </div>
    </div>
    <div class="ct-card-row">
      <div class="input-container">
        <div
          class="label-left label-left-light ct-text-light-1 ct-center-content"
          title="Initial value"
        >
          Offset
        </div>
        <input
          type="number"
          class="input-center input-center-light ct-text-light-1-strong input-text-center"
          v-model="measurement.offset"
        />
        <div
          class="label-right label-right-light ct-text-light-1 ct-center-content"
          v-html="formatUnit(measurement.gauge.unit)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { computed } from 'vue'
import Util from '../util/Util'

export default {
  name: 'CtMeasurementInput',
  emits: ['update:modelValue'],
  props: {
    recordingDate: null, // TODO: remove
    modelValue: Object,
  },
  setup(props, { emit }) {
    const measurement = computed({
      get: () => props.modelValue,
      set: (value) => emit('update:modelValue', value),
    })
    return {
      measurement,
      formatUnit: Util.formatUnit,
    }
  },
}
</script>

<style scoped>
.input-container {
  display: flex;
}
.input-center {
  flex: 2;
  background: var(--ct-color-light-2);
  padding: 10px 20px 10px 20px;
  width: calc(100% - 40px - 4px);
  border-left-style: none;
  border-right-style: none;
}
.input-center-dark {
  border-top: 1px solid var(--ct-color-dark);
  border-bottom: 1px solid var(--ct-color-dark);
}
.input-center-light {
  border-top: 1px solid var(--ct-color-light-1);
  border-bottom: 1px solid var(--ct-color-light-1);
}
.input-text-center {
  text-align: center;
}
.label-left {
  flex: 2;
  border-radius: 8px 0 0 8px;
  padding: 10px 20px 10px 20px;
}
.label-left-dark {
  border-top: 1px solid var(--ct-color-dark);
  border-bottom: 1px solid var(--ct-color-dark);
  border-left: 1px solid var(--ct-color-dark);
}
.label-left-light {
  border-top: 1px solid var(--ct-color-light-1);
  border-bottom: 1px solid var(--ct-color-light-1);
  border-left: 1px solid var(--ct-color-light-1);
}
.label-right {
  flex: 1;
  border-radius: 0 8px 8px 0;
  padding: 10px 20px 10px 20px;
}
.label-right-dark {
  border-top: 1px solid var(--ct-color-dark);
  border-right: 1px solid var(--ct-color-dark);
  border-bottom: 1px solid var(--ct-color-dark);
}
.label-right-light {
  border-top: 1px solid var(--ct-color-light-1);
  border-right: 1px solid var(--ct-color-light-1);
  border-bottom: 1px solid var(--ct-color-light-1);
}
</style>
