:root {
    --ct-color-dark: #2B2D42;
    --ct-color-light-1: #8D99AE;
    --ct-color-light-2: #EDF2F4;
    --ct-color-supplementary-1: #EF233C;
    --ct-color-supplementary-2: #D80032;
    --ct-color-error: #8b0000;
    --ct-color-success: #228C22;
}

body {
    font-family: Calibri;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.5em;
    border-bottom: 2px solid var(--ct-color-light-1);
    color: var(--ct-color-light-1);
}

h2 {
    font-size: 1.1em;
    border-bottom: 1px solid var(--ct-color-light-1);
    color: var(--ct-color-light-1);
}

hr {
    border-top: 1px solid var(--ct-color-light-1);
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.ct-button {
    border-radius: 8px;
    background: var(--ct-color-dark);
    padding: 10px 20px 10px 20px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    border: none;
}

.ct-input {
    border: 1px solid var(--ct-color-dark);
    border-radius: 8px;
    color: var(--ct-color-dark);
    background: var(--ct-color-light-2);
    padding: 10px 20px 10px 20px;
    width: calc(100% - 40px - 4px);
}

.ct-center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ct-card {
    margin: 10px 0 10px 0;
    border: 1px solid var(--ct-color-light-2);
    border-radius: 8px;
    overflow: hidden;
}

.ct-card-header {
    background: var(--ct-color-light-2);
    padding: 10px 10px 10px 10px;
    color: var(--ct-color-light-1);
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 1px solid var(--ct-color-light-1)
}

.ct-card-row {
    background: #ffffff;
    padding: 10px 10px 10px 10px;
}

.ct-text-dark {
    color: var(--ct-color-dark);
}

.ct-text-dark-strong {
    color: var(--ct-color-dark);
    font-weight: bold;
}

.ct-text-light-1 {
    color: var(--ct-color-light-1);
}

.ct-text-light-1-strong {
    color: var(--ct-color-light-1);
    font-weight: bold;
}

.ct-text-light-2-strong {
    color: var(--ct-color-light-2);
    font-weight: bold;
}