<template>
  <CtError />
  <CtMessage />
  <CtHeader />
  <main>
    <router-view />
  </main>
</template>

<script>
import CtError from '@/components/CtError.vue'
import CtMessage from '@/components/CtMessage.vue'
import CtHeader from '@/components/CtHeader.vue'
import { useStore } from 'vuex'
import { onMounted, watch } from 'vue'
import { useRouter } from 'vue-router'

export default {
  name: 'CtApp',
  components: {
    CtError,
    CtMessage,
    CtHeader,
  },
  setup() {
    const store = useStore()
    const router = useRouter()

    watch(
      () => store.getters.loginUsername,
      () => processAppState(store, router)
    )
    onMounted(() => processAppState(store, router))
  },
}

function processAppState(store, router) {
  if (!store.getters.loginUsername) {
    router.push({ name: 'login' })
  } else if (
    !store.getters.consumptionDataLoaded &&
    store.getters.loginUsername
  ) {
    store.dispatch('fetchConsumptionData')
  }
}
</script>

<style scoped>
main {
  padding: 65px 10px 60px 10px;
  max-width: 800px;
}
</style>